[*.cs]
dotnet_diagnostic.IDE0001.severity = error
dotnet_diagnostic.IDE0002.severity = error
dotnet_diagnostic.IDE0003.severity = error
dotnet_diagnostic.IDE0004.severity = error
dotnet_diagnostic.IDE0008.severity = error
dotnet_diagnostic.IDE0040.severity = error
dotnet_diagnostic.IDE0051.severity = error
dotnet_diagnostic.IDE0052.severity = error
dotnet_diagnostic.IDE0120.severity = error
dotnet_diagnostic.IDE0200.severity = error
dotnet_diagnostic.CS0246.severity = error
dotnet_diagnostic.xUnit1025.severity = error
